.barraFiltro{
    background: #FFF;
    min-height: 100vh
}
.conteudo{
    background: #F4F4F4;
    min-height: 100vh;
}
.tamanhoFoto{
    width: 100% !important;
    max-height: 200px !important;
    overflow: hidden !important;
}

.payment-methods {
  list-style: none;
  margin: 0;
  padding: 0;
    display: flex;
    flex-direction: row
}

.payment-methods:after {
  content: "";
  clear: both;
}

.payment-method {
  box-sizing: border-box;
  height: 60px;
  position: relative;
  width: 50px;
}

.payment-method + .payment-method {
  margin-left: 10px;
}

.payment-method label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}

.macho label {
  background-image: url("../img/macho.png");
}

.femea label {
  background-image: url("../img/femea.png");
}


.payment-methods input:focus + label {
  outline: 2px dotted #21b4d0;
}
.payment-methods input:checked + label {
  outline: 4px solid #21b4d0;
}
.payment-methods input:checked + label:after {
  background: url(checked.png);
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px;
}
@-moz-document url-prefix() {
  .payment-methods input:checked + label:after {
    bottom: 0;
    right: 0;
    background-color: #21b4d0;
  }
}