/* 

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Lato', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* BODY */
  body{
  
  }

/* TOPO */
  header {
    background-color: #4475b3;
    min-height: 90px;
  }
    header a {
      text-decoration: none;
    }
      header a img { 
        padding: 30px 0 25px;
        width: 100%;
        max-width: 225px;
      }
    header .navbar {

    }
      header .navbar #botao-menu{
        display: none;
      }
      header .navbar .navbar-header {
        width: 100%;
      }
        header .navbar .navbar-header .navbar-nav{
          width: 100%;
          max-width: 627px;
          margin: auto 108px;
        }
          header .navbar .navbar-header .navbar-nav li {
            padding: 26px 0 0 34px;
            display: inline-block;
            text-align: right;
            float: initial;
          }
            header .navbar .navbar-header .navbar-nav li a{
              color: #fff;
              text-transform: uppercase;
            }
             

/*RODAPÉ*/
  .rodape{
    background: #353535;
    padding-bottom: 30px;
  } 
    .rodape hr {
      border-top: 0.1em solid #464646;
    }
    .rodape .logoRodape {

    }
      .rodape .logoRodape a{

      }
        .rodape .logoRodape a figure{
          margin: 25px 0 15px;
          padding: 15px 0 0;
        }
          .rodape .logoRodape a figure img{
        
          }
    .rodape .redesSociais {
      margin: 25px 0 10px;
      padding: 21px 0 0;
      text-align: right;

    }
      .rodape .redesSociais span{
        color: #4475b3;
        font-size: 17px;
        display: inline-block;
        width: 100%;
        max-width: 210px;
        margin-right: 20px;
      }
      .rodape .redesSociais .divRedesSociais {
        display: inline-block;
      }
        .rodape .redesSociais .divRedesSociais a:first-child{
          margin-left: 15px;
        }
        .rodape .redesSociais .divRedesSociais a{
          background: #fff;
          width: 35px;
          height: 35px;
          display: inline-block;
          border-radius: 100%;
          text-align: center;
          vertical-align: middle;
          color: #000;
          font-size: 16px;
          position: relative;
          margin: 0 3px;
        }
          .rodape .redesSociais .divRedesSociais a i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    .rodape .descricaoCrisECia {

    }
      .rodape .descricaoCrisECia p{
        color: #fff;
        font-size: 15px;
        line-height: 27px;
      }
    .rodape .menuRodape {

    }
      .rodape .menuRodape span {
        color: #4475b3;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: left;
        max-width: 100px;
        margin: 0 auto;
      }
        .rodape .menuRodape ul {
          margin-top: 30px;
        }
          .rodape .menuRodape ul li {
            display: block;
            width: 100%;
            max-width: 100px;
            margin: 0 auto;
            font-size: 16px;
            text-align: left;
          }
            .rodape .menuRodape ul li a{
              color: #fff;
              line-height: 27px;
              text-decoration: none;
            }
    .rodape .categoriasRodape {

    }
      .rodape .categoriasRodape span{
        color: #4475b3;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: left;
      }
      .rodape .categoriasRodape ul {
        margin-top: 30px;
      }
        .rodape .categoriasRodape ul li{
          display: block;
          width: 100%;
          font-size: 16px;
          text-align: left;
        } 
          .rodape .categoriasRodape ul li a{
            color: #fff;
            line-height: 27px;
            text-decoration: none;
          }
    .rodape .paginaFacebook {

    } 
      .rodape .paginaFacebook figure{

      }
        .rodape .paginaFacebook figure img{

        }

/*COPYRIGHT*/
  .copyright{
    height: auto;
    min-height: 75px;
    width: 100%;
    background-color: #dfdfdf;
    padding-bottom: 13px;
  }
    .copyright .cnpj{

    }
      .copyright .cnpj p{
        color: #b9b9b9;
        font-size: 11px;
        margin: 15px auto 0;
        line-height: 20px; 
      }
    .copyright .textoCopyright {
      padding: 0 20px;
    } 
      .copyright .textoCopyright p {
        color: #b9b9b9;
        font-size: 13px;
        margin: 15px auto 0;
      }
    .copyright .logoHandragnAreaCopyright{
      position: relative;
      width: 100%;
      min-height: 75px;
    }
      .copyright .logoHandragnAreaCopyright a{
        text-decoration: none;
      }
        .copyright .logoHandragnAreaCopyright a figure{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
          .copyright .logoHandragnAreaCopyright a figure img{
            display: block;
            margin: 0 auto;
          }

/*PG*/
  .pg{

  }
    .pg .carrosselProdutos .botoesCarrosselProdutos {
          width: 100%;
          position: absolute;
          top: 50%;
        }
          .pg .carrosselProdutos .botoesCarrosselProdutos button{
            background: transparent;
            border: none;
            outline: none;
            position: absolute;
            z-index: 999;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
          .pg .carrosselProdutos .botoesCarrosselProdutos #flechaEsquerda {
            left: 0;
          }
          .pg .carrosselProdutos .botoesCarrosselProdutos #flechaDireita {
            right:0;
          }
  .pg .paginador {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 30px 0;
    }
      .pg .paginador ul {

      }
        .pg .paginador ul li:first-child {
          display: none; 
        }
        .pg .paginador ul li {
          list-style: none;
          display: inline-block;
        }
          .pg .paginador ul li a {
            color: #353535;
            text-decoration: none;
            padding: 5px 11px;
            border: 1px solid transparent;
          }
          .pg .paginador ul li a:hover {
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
            transition: all linear .4s;
            -webkit-transition: all linear .4s;
            -moz-transition: all linear .4s;
            -o-transition: all linear .4s;
          }
          .pg .paginador ul li:last-child a:hover img{
            filter: brightness(10.1);
          }
          .pg .paginador ul li a.setaEsquerdaPaginador:hover{
            filter: brightness(10.1);
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
            transition: all linear .4s;
            -webkit-transition: all linear .4s;
            -moz-transition: all linear .4s;
            -o-transition: all linear .4s;
          }
          .pg .paginador ul li a.ativo {
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
          }
            .pg .paginador ul li a img.setaEsquerdaPaginador {
              display: none;
            }
            .pg .paginador ul li a img.setaDireitaPaginador {

            }

/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial .carrosselDestaque{ 
      width: 100%;
      max-width: 715px;
      height: auto;
      position: relative;
      margin: 20px auto;
      min-height: 461px;
    }
    
      .pg-inicial .carrosselDestaque a  { 
        text-decoration: none;
        color: #fff;
      }
      .pg-inicial .carrosselDestaque a .item{ 
        background-size: cover!important;
        background-position: center!important;
        min-height: 461px;
        position: relative;
        width: 100%;
        z-index: 2;
        margin: 0 auto;
      }
      .pg-inicial .carrosselDestaque a .item::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 8%, rgba(0, 0, 0, 0.45) 64%, rgba(0, 0, 0, 0.1) 85%, transparent 100%);;
        z-index: 2;
      }
        .pg-inicial .carrosselDestaque a .item .textoPostPrincipal {
          position: absolute;
          bottom: 40px;
          left: 40px;
          z-index: 9;
        }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal img{ 
    
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h3 {
            text-transform: uppercase;
            font-size: 14px;
            display: inline;
            width: 100%;
            min-width: 80px;
            border: 1px solid #4475b3;
            padding: 3px 9px;
            text-align: center;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h2 {
            font-size: 25px;
            font-family: 'Lato', sans-serif;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal strong {
            font-weight: normal;
          }
    .pg-inicial .postsMaisLidos {
      margin: 0 auto;
      width: 100%;
      max-width: 418px;
      padding-left: 10px;
    }
      .pg-inicial .postsMaisLidos ul {

      }
        .pg-inicial .postsMaisLidos ul li {
          list-style: none;
          margin: 21px auto;
        }
          .pg-inicial .postsMaisLidos ul li a{
            text-decoration: none;
          }
            .pg-inicial .postsMaisLidos ul li a figure {
              width: 100%;
              max-width: 116px;
              display: inline-block;
              vertical-align: top;
              background-size: cover!important;
              background-position: center!important;
              min-height: 139px;
            }
              .pg-inicial .postsMaisLidos ul li a figure img {
                width: 100%;
                height: auto;
                visibility: hidden;
              }
            .pg-inicial .postsMaisLidos ul li a .informacoesPost {
              display: inline-block;
              padding: 0 0 0 11px;
            }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h3 {
                margin: 0;
                width: 100%;
                min-width: 80px;
                font-size: 13px;
                text-transform: uppercase;
                color: #585858;
                border: 1px solid #4475b3;
                padding: 5px;
                text-align: center;
                display: inline;
              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h2{
                width: 100%;
                font-size: 20px;
                color: #000;
                max-width: 250px;
              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost span{
                color: #4475b3;
              }
    .pg-inicial .carrosselProdutos {
      position: relative;
    }
        .pg-inicial .carrosselProdutos .carrosselProdutosDestaque {
          padding: 25px 0 120px;
        } 
          .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque{
            margin:0 auto;
            list-style: none;
            width: 100%;
            max-width: 265px;
            text-align: center;
            position: relative;
          }
            .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a{
              text-decoration: none;
            }   
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .porcentagemDesconto{
                border: 1px solid #4475b3;
                padding: 3px;
                z-index: 9;
                color: #4475b3;
                font-family: 'Lato',sans-serif;
                display: block;
                width: 100%;
                text-align: center;
                max-width: 50px;
                position: absolute;
                right: 0;
                max-height: 27px;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a figure{
                width: 100%;
                max-width: 200px;
                margin: 0 auto;
              }
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a figure img{
                  width: 100%;
                  height: auto;
                  max-height: 200px;
                }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a h3{
                font-size: 16px;
                color: #000;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
              } 
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a hr{
                width: 100%;
                max-width: 260px;
                margin: 12px auto 5px;
                border-top: 1px solid #c5c5c5;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto{
                display: block;
                text-align: center;
                color: #4475b3;
              }
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto i:nth-child(4),
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto i:nth-child(5){
                  font-weight: 100;
                }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .precoSemDesconto{
                display: block;
                text-align: center;
                padding: 10px 0 3px;
                text-decoration: line-through;
                color: #b0b0b0;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a h4{
                color: #000;
                font-family: 'Lato', sans-serif;
                text-align: center;
              } 
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .precoParcelado{
                display: block;
                text-align: center;
                color: #cfcfcf;
              }
      
    .pg-inicial .sessaoPosts {

    }
      .pg-inicial .sessaoPosts .postPaginaInicial {
        padding: 24px 0;
      } 

        .pg-inicial .sessaoPosts .postPaginaInicial figure{
          width: 27.5%;
          height: auto;
          min-height: 229px;
          display: inline-block;
          vertical-align: top;
          background-repeat: no-repeat!important;
          background-size: cover!important;
          background-position: center!important;
          border-bottom: 8px solid transparent;
        } 
        .pg-inicial .sessaoPosts .postPaginaInicial:hover figure {
          border-bottom: 8px solid #4475b3;
          transition: border .5s;
          -webkit-transition: border .5s;
          -moz-transition: border .5s;
          -o-transition: border .5s;
        }
          .pg-inicial .sessaoPosts .postPaginaInicial figure img{
            width: 100%;
            height: auto;
            visibility: hidden;
          }
        .pg-inicial .sessaoPosts .postPaginaInicial article{
            display: inline-block;
            padding: 0 0 0 56px;
            width: 71.5%;
        }
          .pg-inicial .sessaoPosts .postPaginaInicial article h3{
            text-transform: uppercase;
            font-size: 13px;
            display: inline-block;  
            border: 1px solid #4475b3;
            padding: 5px;
            text-align: center;
            color: #4475b3;
            margin: 0;
            min-width: 100px;
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article a {
            text-decoration: none;
          }
            .pg-inicial .sessaoPosts .postPaginaInicial article a h2{
              font-size: 21px;
              font-family: 'Lato', sans-serif;
              color: #000;
              font-weight: 600;
            }
          .pg-inicial .sessaoPosts .postPaginaInicial article .dataDoPost{
            color: #4475b3;
            margin-top: 15px;
            display: block;
            width: 100%;
            max-width: 150px;
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article p{
            width: 100%;
            max-width: 515px;
            padding-top: 30px;
            margin: 10px 0;
            color: #585858;
            font-size: 16px;
          }
    .pg-inicial .sidebar {

    }
      .pg-inicial .sidebar .areaNewsletter {
      
      }
        .pg-inicial .sidebar .areaNewsletter span{
          display: inline-block;
          font-size: 40px;
          color: #4475b3;
          vertical-align: top;
        }
          .pg-inicial .sidebar .areaNewsletter span i{
      
          } 
        .pg-inicial .sidebar .areaNewsletter p{
          display: inline-block;
          width: 100%;
          max-width: 228px;
          font-size: 16px;
          padding-left: 10px;
          color: #585858;
          margin-bottom: 22px;
        }
          .pg-inicial .sidebar .areaNewsletter p strong{
      
          }
        .pg-inicial .sidebar .areaNewsletter input[type="text"]{
          width: 100%;
          max-width: 200px;
          min-height: 40px;
          outline: none;
          border: 1px solid #4475b3;
          padding: 10px;
          color: #b5b5b5;
          margin-right: 3px;
        }
        .pg-inicial .sidebar .areaNewsletter input[type="submit"]{
          background: #4475b3;
          border: 1px solid #4475b3;
          color: #fff;
          text-transform: uppercase;
          padding: 11px 5px;
          font-size: 13px;
        }
        .pg-inicial .sidebar .areaNewsletter input::-webkit-input-placeholder  { color: #b5b5b5; }
        .pg-inicial .sidebar .areaNewsletter input:-moz-placeholder { color:#b5b5b5; }

    .pg-inicial .tags {

    } 
      .pg-inicial .tags span {
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg-inicial .tags a {
        text-decoration: none;
      }
      .pg-inicial .tags a h3 {
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        min-width: 80px;
        border: 1px solid #4475b3;
        padding: 4px;
        text-align: center;
        color: #585858;
        margin: 5px;
        border-radius: 2px;
        text-decoration: none;
        font-weight: 600;
      }
    .pg-inicial .areaPesquisa {
      padding-top: 86px;
      text-align: center;
    }
      .pg-inicial .areaPesquisa input[type="text"] {
        width: 100%;
        max-width: 238px;
        min-height: 40px;
        outline: none;
        border: 1px solid #4475b3;
        padding: 10px;
        color: #b5b5b5;
        margin-bottom: 10px;
      }
      .pg-inicial .areaPesquisa input[type="text"]::before {
        content: '';
      }
      .pg-inicial .areaPesquisa input[type="submit"] {
        background: url(../img/lupaPesquisa.png);
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        background-color: #4475b3;
        border: 1px solid #4475b3;
        color: #fff;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        max-width: 50px;
        min-height: 40px;
        vertical-align: top;
        margin-left: 5px;
      }
      .pg-inicial .areaPesquisa input[type="submit"]:hover {
        background-color: #2d5587;
        transition: background .4s;
        -webkit-transition:background .4s;
        -moz-transition:background .4s;
        -o-transition:background .4s;
      }
    .pg-inicial .areaProdutos {

    }
      .pg-inicial .areaProdutos .carrosselProdutos{
        position: relative;
      }
    
      .pg-inicial .areaProdutos h3 {
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg-inicial .areaProdutos .itemCarrosselSidebar {
        position: relative;
        padding-top: 35px;
      }
        .pg-inicial .areaProdutos .itemCarrosselSidebar span:first-child {
          border: 1px solid #4475b3;
          padding: 3px;
          z-index: 9;
          color: #4475b3;
          font-family: 'Lato',sans-serif;
          display: block;
          width: 100%;
          text-align: center;
          max-width: 50px;
          position: absolute;
          right: 5px;
          max-height: 27px;
        }
          .pg-inicial .areaProdutos .itemCarrosselSidebar a{
            text-decoration: none;
          }
            .pg-inicial .areaProdutos .itemCarrosselSidebar a figure{
              width: 100%;
              max-width: 285px;
              margin: 0 auto;
            }
              .pg-inicial .areaProdutos .itemCarrosselSidebar a figure img{
                width: 90%;
                height: auto;
                margin: 0 auto;
              }
            .pg-inicial .areaProdutos .itemCarrosselSidebar a .nomeDoProduto{
              font-size: 16px;
              color: #000;
              font-family: 'Lato', sans-serif;
              font-weight: 600;
              text-decoration: none;
              text-transform: none;
              text-align: center;
              border: none;
              padding-top: 20px;
              padding-bottom: 0;
              margin: 0;
            }
        .pg-inicial .areaProdutos .itemCarrosselSidebar hr{
          width: 100%;
          max-width: 260px;
          margin: 12px auto 5px;
          border-top: 1px solid #c5c5c5;
        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .classificacaoProduto{
          border: none;
          display: block;
          text-align: center;
          color: #4475b3;
          max-width: initial;
          margin: 0 auto;
        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoSemDesconto{
          display: block;
          text-align: center;
          padding: 10px 0 3px;
          text-decoration: line-through;
          color: #b0b0b0;
        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoAtual{
          color: #000;
          text-align: center;
        } 
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoParcelado{
          display: block;
          text-align: center;
          color: #8a8888;
        }
    .pg-inicial .sessaoBannerPropaganda {
      padding: 78px 0;
    }   
      .pg-inicial .sessaoBannerPropaganda a{

      } 
        .pg-inicial .sessaoBannerPropaganda a figure{
          width: 100%
        }  
          .pg-inicial .sessaoBannerPropaganda a figure img{
            width: 100%;
            height: auto;
          } 
    
/* PÁGINA DE POST */
  .pg-post {

  }
    .pg-post .bannerPrincipalPost{
      margin-top: 74px;
      padding: 0 10px;
    }
      .pg-post .bannerPrincipalPost figure{
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 100%;
        max-width: 1139px;
        height: auto;
        max-height: 324px;
      }
        .pg-post .bannerPrincipalPost figure img{
          width: 100%;
          height: auto;
          visibility: hidden;
        }
    .pg-post .informacoesPost {
      padding: 74px 10px 51px;
      width: 100%;
      max-width: 720px;
    }
      .pg-post .informacoesPost .tituloPost{
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 23px; 
      }
      .pg-post .informacoesPost .categoriaPost{
        margin: 0;
        width: 100%;
        min-width: 80px;
        font-size: 13px;
        text-transform: uppercase;
        color: #1a1a1a;
        border: 1px solid #4475b3;
        padding: 3px 10px;
        text-align: center;
        display: inline;
        text-decoration: none;
        font-weight: 600;
      }
      .pg-post .informacoesPost .dataDoPost{
        color: #4475b3;
        font-weight: 600;
        padding-left: 15px;
      }
    .pg-post .conteudoDoPost { 
      padding: 0 10px;
      max-width: 700px;
    }
      .pg-post .conteudoDoPost p{ 
        font-size: 17px;
        line-height: 28px;
        color: #585858;
        padding: 5px 0;

      }
      .pg-post .conteudoDoPost img{ 
        width: 100%;
        height: auto;
        padding: 54px 0 71px 0;
      }
      .pg-post .conteudoDoPost h2{ 
        font-weight: bold;
        font-size: 23px;
        padding: 0 0 44px 0;
        margin: 0 0 10px 0;
      }
    .pg-post .disqus {

    }
    .pg-post .postsRelacionados {
      padding-left: 5px;
    }
      .pg-post .postsRelacionados .leiaTambem{
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg-post .postsRelacionados ul{
      
      }
        .pg-post .postsRelacionados ul li {
          list-style: none;
          padding-bottom: 35px;
        }
        .pg-post .postsRelacionados ul li a {
          text-decoration: none;
        }
          .pg-post .postsRelacionados ul li .categoriaPostRelacionado{
            text-transform: uppercase;
            font-size: 12px;
            display: inline-block;
            min-width: 80px;
            border: 1px solid #4475b3;
            padding: 4px;
            text-align: center;
            color: #585858;
            margin: 5px;
            border-radius: 2px;
            text-decoration: none;
            font-weight: 600;
          }
          .pg-post .postsRelacionados ul li a .tituloPostRelacionado{
            display: block;
            width: 100%;
            max-width: 350px;
            font-size: 21px;
            font-weight: 700;
            padding-left: 5px;
            color: #000;
          }
          .pg-post .postsRelacionados ul li .dataPostRelacionado{
            color: #4475b3;
            padding-left: 5px;
          } 

/* PÁGINA DE BUSCA */ 
  .pg-busca {
    width: 100%;
    height: auto;
  }
    .pg-busca .resultadoBusca {
      
    }
      .pg-busca .resultadoBusca p{
        font-weight: bold;
        color: #000;
        font-size: 19px;
        margin: 85px 0; 
      }
    .pg-busca .sessaoPostsEncontrados {
      width: 100%;
    }
      .pg-busca .sessaoPostsEncontrados .postEncontrado{
        padding: 0 0 25px;
      }
        .pg-busca .sessaoPostsEncontrados .postEncontrado a{
          text-decoration: none;
        }
          .pg-busca .sessaoPostsEncontrados .postEncontrado a figure{
            width: 100%;
            max-width: 230px;
            height: auto;
            max-height: 250px;
            display: inline-block;
            vertical-align: top;
            background-repeat: no-repeat!important;
            background-size: cover!important;
            background-position: center!important;
            border-bottom: 8px solid transparent;
          }
          .pg-busca .sessaoPostsEncontrados .postEncontrado:hover figure {
            border-bottom: 8px solid #4475b3;
            transition: border .5s;
            -webkit-transition: border .5s;
            -moz-transition: border .5s;
            -o-transition: border .5s;
          }
            .pg-busca .sessaoPostsEncontrados .postEncontrado a figure img{
              visibility: hidden;
              width: 100%;
              height: auto;
            }
        .pg-busca .sessaoPostsEncontrados .postEncontrado article{
          display: inline-block;
          padding: 0 0 0 35px;
          width: 100%;
          max-width: 500px;
        }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article a{
            text-decoration: none;
          }
            .pg-busca .sessaoPostsEncontrados .postEncontrado article a h3{
              text-transform: uppercase;
              font-size: 13px;
              display: inline-block;
              border: 1px solid #4475b3;
              padding: 5px;
              text-align: center;
              color: #585858; 
              margin: 0;
              min-width: 100px;  
              border-radius: 3px;         
            } 
            .pg-busca .sessaoPostsEncontrados .postEncontrado article a h2{
              font-size: 21px;
              font-family: 'Lato', sans-serif;
              color: #000;
              font-weight: 600;
              line-height: 27px;
              min-height: 60px;
            }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article .dataDoPost{
            color: #4475b3;
            display: block;
            width: 100%;
            max-width: 150px;
          }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article p{
            width: 100%;
            max-width: 515px;
            padding-top: 10px;
            margin: 10px auto;
            color: #585858;
            font-size: 16px;
          }

/* PÁGINA DE CONTATO */
  .pg-contato {
    padding-bottom: 100px;
  }
    .pg-contato .mensagem {

    }
      .pg-contato .mensagem h2 {
        font-weight: bold;
        font-size: 36px;
        width: 100%;
        max-width: 445px;
        margin: 94px auto 34px;
      }
      .pg-contato .mensagem p {
        font-size: 16px;
        margin-bottom: 35px;
        width: 100%;
        max-width: 445px;
        margin: 32px auto 52px;
        line-height: 27px;
      }
      .pg-contato .mensagem .envieSuaMensagem {
        background: #4475b3;
        padding: 20px;
        width: 100%;
        max-width: 445px;
        height: 475px;
        display: block;
        margin: 0 auto;
      }
      .pg-contato .mensagem .envieSuaMensagem h3 {
        font-size: 24px;
        color: white;
        display: block;
        margin: 22px auto;
        width: 100%;
        max-width: 316px;
      }
      .pg-contato .mensagem .envieSuaMensagem input {
        margin: 27px auto;
        font-size: 12px;
        width: 100%;
        max-width: 318px;
        height: 40px;
        text-indent: 17px;
        color: #adadad;
        border: none;
        display: block;

      }
      .pg-contato .mensagem .envieSuaMensagem textarea {
        height: auto;
        max-height:130px;
        text-indent: 7px;
        color: #adadad;
        font-size: 12px;
        border: none;
        width: 100%;
        max-width: 318px;
        margin: 9px auto;
        display: block;
        padding: 13px;
      }
    .pg-contato .contato {
      width: 100%;
      max-width: 520px;
      margin: 0 auto;
    }
      .pg-contato .contato .endereco {
        padding-top: 254px;
      }
        .pg-contato .contato .endereco h3{
          font-weight: bold;
          position: relative;
          padding-left: 37px;
        }
        .pg-contato .contato .endereco h3:before{
          content: " ";
          display: block;
          background: url(../img/maps.png);
          width: 18px;
          height: 22px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
        .pg-contato .contato .endereco p{
          padding-left: 38px;
      }
      .pg-contato .contato .numero {
        padding-top: 10px;
      }
        .pg-contato .contato .numero h3{
          font-weight: bold;
          padding-left: 39px;
          position: relative;
        }
        .pg-contato .contato .numero h3:before {
          content: " ";
          display: block;
          background: url(../img/telefone.png);
          width: 20px;
          height: 22px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
        .pg-contato .contato .numero p{
          padding-left: 42px;
        }

/* PÁGINA DE NEWSLETTER */
  .pg-newsletter {
    margin-bottom: 100px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
  }
    .pg-newsletter figure {
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      position: relative;
    }
      .pg-newsletter figure img {
        width: 100%;
        height: auto;
      }
  .pg-newsletter article {
    background: #0f76b7;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
    .pg-newsletter article .textosArticle {
      width: 100%;
      max-width: 608px;
      margin: 0 auto;
    }
      .pg-newsletter article .textosArticle p{
        color: white;
        text-align: left;
        font-size: 21px;
        width: 100%;
        max-width: 355px;
        position: relative;
        padding-left: 80px;
      }
        .pg-newsletter article .textosArticle p i{
          font-size: 60px;
          position: absolute;
          left: 0;
          top: 0px;
          display: block;
        }
      .pg-newsletter article .textosArticle input{
        border: 1px solid white;
        background: transparent;
        color: #b1b1b1;
        width: 100%;
        max-width: 165px;
        height: 42px;
        text-indent: 20px;
        margin-right: 5px;
      }
        /* Chrome, Safari, Opera */
        .pg-newsletter article .textosArticle input::-webkit-input-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 18- */
        .pg-newsletter article .textosArticle input:-moz-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 19+ */
        .pg-newsletter article .textosArticle input::-moz-placeholder {
          color: #b1b1b1;
        }

        /* IE10+ */
        .pg-newsletter article .textosArticle input:-ms-input-placeholder {
          color: #b1b1b1;
        }
     
      .pg-newsletter article .textosArticle .email {
        width: 100%;
        max-width: 270px;
      }
      .pg-newsletter article .textosArticle input[type="submit"] {
        background: white;
        border: none;
        text-indent: 0px;
        color: #0f76b7;
        font-weight: bold;
        width: 100%;
        max-width: 134px;
      }
    .pg-newsletter figure .fecharModalNewsletter {
      display: block;
      width: 100%;
      max-width: 30px;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      z-index: 11;
    }
    .pg-newsletter figure .fecharModalNewsletter:hover{
      color: #c52929;
      transition: color .5s;
      -webkit-transition:color .5s;
      -moz-transition:color .5s;
      -o-transition:color .5s;
      cursor: pointer;
    }
      .pg-newsletter figure .fecharModalNewsletter i{
      
      }
        
/*EXTRAS*/
  .containerFull {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
  }
  .lenteNewsletter {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-color: #000000c2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .travarScroll {
    overflow:hidden;
  }
  header .navbar .navbar-header .navbar-nav li a {
    background-color: #eee0;
  }
  

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .containerFull{
      width: 95%;
    }
    .pg-inicial .sidebar .areaNewsletter p {
      max-width: 198px;
      text-align: left;
    }
    .pg-inicial .sidebar .areaNewsletter {
      text-align: center;
    }
    .pg-inicial .sidebar .areaNewsletter input[type="text"] {
      margin: 10px 0;
    }
  }
  @media (max-width: 1050px){
    
  
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      padding: 0 0 0 12px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      max-width: 380px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .postsMaisLidos{
      display: none;
    }
    .pg-contato .contato {
      padding-left: 50px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2{
      font-size: 34px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      max-width: 350px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado a figure {
      max-width: 186px;
    }
    .pg-inicial .carrosselDestaque{
      max-width: 100%;
    }
    .pg-inicial .sidebar .areaNewsletter{
      text-align: center;
    }
    .pg-inicial .sidebar .areaNewsletter p{
      text-align: left;
    }
    .pg-inicial .tags,.pg-inicial .areaPesquisa{
      text-align: center;
    }
    .pg-inicial .sessaoBannerPropaganda{
      display: none;
    }

  }
  @media(max-width: 768px){
    .pg-busca .sessaoPostsEncontrados .postEncontrado{
      text-align: center;
    }
    header .navbar #botao-menu {
      display: block;
      background: transparent;
      border: 1px solid #fff;
    }
    .topo .navbar button span {
      background-color: #fff;
    }
    
    .pg .carrosselProdutos .botoesCarrosselProdutos {
      display: none;
    }
    .pg-inicial .carrosselDestaque a .item .textoPostPrincipal {
      padding:0;
    }
    .pg-contato .contato .endereco {
      padding-top: 30px;
    }
    .pg-contato .contato {
      width: 100%;
      max-width: 415px;
      margin: 0 auto;
      padding: 12px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2 {
      font-size: 32px;
    }
    .pg-newsletter article .textosArticle p {
      margin: 0 auto;
    }
    .pg-newsletter article .textosArticle input, .pg-newsletter article .textosArticle .email {
      display: block;
      margin: 5px auto 0;
      max-width: 440px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial figure {
      width: 100%;
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0 5px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article h3 {
      text-align: center;
      margin-top: 15px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article a h2 {
      text-align:center;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article .dataDoPost {
      display: block;
      width: 100%;
      max-width: 150px;
      text-align: center;
      margin: 15px auto 0;
    }
    
    .rodape .menuRodape span {
      margin: 0;
    }
    .rodape .menuRodape ul li {
      margin: 0;
    }
    .rodape .categoriasRodape span {
      margin-top: 10px;
    }
    .rodape .redesSociais span {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .rodape .redesSociais .divRedesSociais {
      text-align: center;
      padding-top: 10px;
    }

    .rodape .paginaFacebook {
      text-align: center;
    }
    .pg-post .postsRelacionados .leiaTambem {
      text-align: center;
    }
    .pg-post .postsRelacionados ul {
        padding: 5px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado a figure {
      width: 100%;
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article p {
        text-align: center;
        max-width: 100%;
    }
    .pg-inicial .carrosselDestaque a .item,.pg-inicial .carrosselDestaque{
      min-height: 400px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article a h3,.pg-busca .resultadoBusca p{
      margin: 20px 0 20px;
      text-align: center;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article .dataDoPost{
      text-align: center;
      max-width: 100%;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article p{
      padding: 10px;
    }
    .rodape .redesSociais .divRedesSociais {
      display: block;
      margin: 0 auto;
    }
    .pg-post .conteudoDoPost {
      margin: 0 auto;
    }
    .pg-post .bannerPrincipalPost {
      padding: 0;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article a h2{
      margin-top: 0;
    }
    .pg-inicial .sidebar .areaNewsletter span {
      display: inline-block;
      font-size: 40px;
      color: #4475b3;
      vertical-align: inherit;
    }
    .pg-inicial .sidebar .areaNewsletter p {
      padding-left: 5px;
    }
    .pg-inicial .sidebar .areaNewsletter {
      max-width: 300px;
      margin: 0 auto;
    }
    .pg-newsletter figure .fecharModalNewsletter {
      top: 20px;
    }
    .rodape .logoRodape {
      text-align: center;
    }

  }

  @media(max-width: 445px){
  
  }
  @media(max-width: 425px){
    .pg-contato .mensagem h2 {
      padding: 10px;
      font-size: 30px;
    }
    .pg-contato .mensagem p {
      padding: 10px 10px 0;
    }
    .pg-newsletter article .textosArticle {
      padding-left: 8px;
    }
  }

  @media(max-width: 320px){
  
  }
