ul {
    list-style-type:none !important
}
.estiloImg{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.estiloImg img{
    max-width:100% !important;
    width: 100% !important;
    height:250px !important;
    object-fit: contain !important;


}

.payment-method input{
    position: absolute !important;
    visibility: hidden !important;
    }
    
    .payment-method i{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px #ddd;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    color: transparent;
    }

    .payment-method input:checked ~ i{
        color: green
        }