@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #333;
        width: 100vw;
        min-height: 100vh;
        background: #D0D7DD;

}
a{
    text-decoration: none;
    color: #333;
    
}

#containerLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #FFF
}
.cadForm {
   width: 57%;
    min-height: 50%;
    float: left;
    background: #6AC0AC;
    padding: 25px 50px;
    color: #FFFFFF;
}
.corClean{
    color: #333 !important;
    text-transform: uppercase
}
::-webkit-input-placeholder {
   color: #333;
   text-transform: uppercase
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;
   text-transform: uppercase
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;
   text-transform: uppercase 
}

:-ms-input-placeholder {  
   color: #333;
   text-transform: uppercase
}
.cadForm input, select{
    width: 100%;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #FFF;
    margin-bottom: 10px;
    background:  #6AC0AC;
    color: #FFFFFF;
}
#containerLogin input{
    width: 100%;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #DDD;
    margin-bottom: 10px;
}
#containerLogin p, a{
    
    font-size: 0.9em;
    color: #999
}
.cadForm p, a{
    
    font-size: 0.9em;
    color: #FFF
}
.btnCad{
    width: 100% !important;
    height: 40px !important;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    background: #FFF !important;
    color: #3366ff !important;
    
}
.btnForm{
    width: 100% !important;
    height: 40px !important;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    background: #6AC0AC !important;
    color: #FFF !important
}
.cadLogin{
    width: 41%;
    min-height: 100%;
    float: right;
    background: #FFF;
    padding: 25px;
    color: #333;
}
.cadLogin p{
    display: none;
}
.imgForm{
    width: 100%;
    height: 120px;
    display: block;
    margin-bottom: 15px
}
.imgForm img{
    height: 100%;
    width: auto;
    text-align: center
}


.links a{
    display: none;
}
.mostratela{
left: 0;

}
.fechalogin{
display: none
}


header  { grid-area: header; }
nav    { grid-area: nav; }
main { grid-area: main; }
aside  { grid-area: aside; }
footer  { grid-area: footer; }


  
@media (max-width: 600px) {

    body{
        font-family: 'Roboto', sans-serif;
        position: relative;
        color: #333;
            width: 100vw;
            min-height: 100vh;
            background: #fff;
    
    }
    

    #containerLogin {
        position: relative;
        text-align: center;
        background: #FFF;
    }

    .cadForm {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: 1s; 
        background: #6AC0AC;
        padding: 25px 50px;
        color: #FFFFFF;
     }
     .cadForm h2{
         color: #FFF
         font-size: 1.2em
     }
     .cadLogin{
        width: 100%;
        min-height: 100%;
        background: #FFF;
        padding: 10vh 10%;
        color: #333;
        display: block
    }
    .cadLogin p{
        display: inline;
    }
    .links a{
        color: #2c3e50;
        width: 70%;
        text-align: center; 
        font-weight: 700;
        font-size: 1.2em;
        display: inline;
    }
    .mostratela{
    left: 0;
    
}
.fechalogin{
    color: #000;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    font-size: 20px;
    display: inline;
}

  }