@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body, html{
    background-color: #F7F0E4;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    padding: 40px;
    text-align: center;
}
main{
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    position: relative;
}

.logo{
    width: 40%;
    margin: 0 auto;
}
.logo > img{
    width: auto;
    height: 150px;
    text-align: center
}
.logo > h2{
    font-size: 1.2em
}
section{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        display: flex;
        justify-content: space-between;

}
.sessao{
    box-sizing: border-box;
    text-align: center;
    height: 25vh;
    width: 100%;
    background-color:#6AC0AC;
    border-radius: 4px;
    margin: 20px 10px;
    padding: 15px;
    -webkit-box-shadow: -4px 7px 25px -4px rgba(0,0,0,0.5);
-moz-box-shadow: -4px 7px 25px -4px rgba(0,0,0,0.5);
box-shadow: -4px 7px 25px -4px rgba(0,0,0,0.5);
}
.sessao > a{
    margin: 10px 50px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 1.5em

}
.sessao > i{
    display: block;
    text-align: center;
    margin: 0 5px 20px 5px;
    color: #111
}
.sessao > small{
    color: #333
}











/*MEDIA QUERIES*/

@media screen and (max-width: 500px) {

    header{
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding: 5px 0 0 0;
        text-align: center;
        display: flex
    }
    main{
        box-sizing: border-box;
        width: 100%;
        height: 70vh;
        position: relative;
        margin-top: 60px
    }
    
    .logo{
        width: 90%;
        margin: 0 auto;
        
    }
    .logo > img{
        width: auto;
        height: 50px;
        text-align: center;
        float: left;
    }
    .logo > h2{
        font-size: 1em;
        float: right
    }

    section{
        position: absolute;
        top: 10px;
        left: 10%;
        width: 90%;
        transform: translate(-10%, -10%);
        color: white;
        display: block;
        justify-content: space-between;

}
    .sessao{
        box-sizing: border-box;
        text-align: center;
        height: 18%;
        width: 100%;
        background-color: #F7F0E4;
        border-radius: 4px;
        margin: 20px 10px;
        padding: 15px;
        -webkit-box-shadow: -2px 5px 5px -2px rgba(0,0,0,0.50);
    -moz-box-shadow: -2px 5px 5px -2px rgba(0,0,0,0.50);
    box-shadow: -2px 5px 5px -2px rgba(0,0,0,0.50);

    }
    .sessao > a{
        margin: 10px 50px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: #111;
        font-weight: 700;
        font-size: 1.5em
    
    }
    .sessao > i{
        display: block;
        text-align: center;
        margin: 0 5px 20px 5px;
        color: #111
    }
    .sessao > small{
        color: #333
    }
    
}