﻿/* 

Theme Name: Cris & Cia
Theme URI: http://blog.crisecia.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: crisecia
Tags: cowboy, chapéu, botina, country, cavalo, botas, blog.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Lato', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* BODY */
  body{
  
  }

/* TOPO */
  header {
    background-color: #4475b3;
    min-height: 90px;
  }
    header a {
      text-decoration: none;
    }
      header a img { 
        padding: 30px 0 25px;
        width: 100%;
        max-width: 225px;
      }
    header .navbar {

    }
      header .navbar #botao-menu{
        display: none;
      }
      header .navbar .navbar-header {
        width: 100%;
      }
        header .navbar .navbar-header .navbar-nav{
          width: 100%;
          max-width: 627px;
          margin: auto 108px;
        }
          header .navbar .navbar-header .navbar-nav li {
            padding: 26px 0 0 34px;
            display: inline-block;
            text-align: right;
            float: initial;
          }
            header .navbar .navbar-header .navbar-nav li a{
              color: #fff;
              text-transform: uppercase;
            }
              header .navbar .navbar-header .navbar-collapse .abrirPesquisa {
                max-width: 30px;
                text-align: center;
                margin-left: 10px;
                max-height: 30px;
                position: absolute;
                right: 122px;
                top: 41px;
              }
                header .navbar .navbar-header .navbar-collapse .abrirPesquisa a{
                  color: #fff;
                }
                  header .navbar .navbar-header .navbar-collapse .abrirPesquisa a i{
                
                  }
             
/*RODAPÉ*/
  .rodape{
    background: #353535;
    padding-bottom: 30px;
  } 
    .rodape hr {
      border-top: 0.1em solid #464646;
    }
    .rodape .logoRodape {

    }
      .rodape .logoRodape a{

      }
        .rodape .logoRodape a figure{
          margin: 25px 0 15px;
          padding: 15px 0 0;
        }
          .rodape .logoRodape a figure img{
        
          }
    .rodape .redesSociais {
      margin: 25px 0 10px;
      padding: 21px 0 0;
      text-align: right;

    }
      .rodape .redesSociais span{
        color: #4475b3;
        font-size: 17px;
        display: inline-block;
        width: 100%;
        max-width: 210px;
        margin-right: 20px;
      }
      .rodape .redesSociais .divRedesSociais {
        display: inline-block;
      }
        .rodape .redesSociais .divRedesSociais a:first-child{
          margin-left: 15px;
        }
        .rodape .redesSociais .divRedesSociais a{
          background: #fff;
          width: 35px;
          height: 35px;
          display: inline-block;
          border-radius: 100%;
          text-align: center;
          vertical-align: middle;
          color: #000;
          font-size: 16px;
          position: relative;
          margin: 0 3px;
        }
        .rodape .redesSociais .divRedesSociais a:hover {
        	background: #4e80bb;
        	color: #fff;
        	transition: all .4s;
        	-webkit-transition: all .4s;
        	-moz-transition: all .4s;
        	-o-transition: all .4s;

        }
          .rodape .redesSociais .divRedesSociais a i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    .rodape .descricaoCrisECia {

    }
      .rodape .descricaoCrisECia p{
        color: #fff;
        font-size: 15px;
        line-height: 27px;
      }
    .rodape .menuRodape {
      padding-left: 30px;
    }
      .rodape .menuRodape span {
        color: #4475b3;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: left;
        max-width: 100px;
        margin: 0 auto;
      }
        .rodape .menuRodape ul {
          margin-top: 30px;
        }
          .rodape .menuRodape ul li {
            display: block;
            width: 100%;
            max-width: 100px;
            margin: 5px auto;
            font-size: 16px;
            text-align: left;
          }
            .rodape .menuRodape ul li a{
              color: #fff;
              line-height: 27px;
              text-decoration: none;
            }
    .rodape .categoriasRodape {

    }
      .rodape .categoriasRodape span{
        color: #4475b3;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: left;
      }
      .rodape .categoriasRodape ul {
        margin-top: 30px;
      }
        .rodape .categoriasRodape ul li{
          display: block;
          width: 100%;
          font-size: 16px;
          text-align: left;
        } 
          .rodape .categoriasRodape ul li a{
            color: #fff;
            line-height: 27px;
            text-decoration: none;
          }
    .rodape .paginaFacebook {

    } 
      .rodape .paginaFacebook figure{

      }
        .rodape .paginaFacebook figure img{

        }

/*COPYRIGHT*/
  .copyright{
    height: auto;
    min-height: 75px;
    width: 100%;
    background-color: #dfdfdf;
    padding-bottom: 13px;
  }
    .copyright .cnpj{

    }
      .copyright .cnpj p{
        color: #5d5d5d;
    	font-size: 9px;
    	margin: 15px auto 0;
    	line-height: 20px;
      }
    .copyright .textoCopyright {
      padding: 0 20px;
    } 
      .copyright .textoCopyright p {
        color: #5d5d5d;
    	font-size: 11px;
    	margin: 15px auto 0;
    	line-height: 19px;
      }
    .copyright .logoHandragnAreaCopyright{
      position: relative;
      width: 100%;
      min-height: 75px;
    }
      .copyright .logoHandragnAreaCopyright a{
        text-decoration: none;
      }
        .copyright .logoHandragnAreaCopyright a figure{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          background: url(img/logoHandgran.png);
          background-repeat: no-repeat!important;
          background-position: center!important;
        }
          .copyright .logoHandragnAreaCopyright a figure img{
            display: block;
            margin: 0 auto;
            visibility: hidden;
          }

/*PG*/
  .pg{

  }
    .pg .carrosselProdutos .botoesCarrosselProdutos {
          width: 100%;
          position: absolute;
          top: 50%;
        }
          .pg .carrosselProdutos .botoesCarrosselProdutos button{
            background: transparent;
            border: none;
            outline: none;
            position: absolute;
            z-index: 999;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
          .pg .carrosselProdutos .botoesCarrosselProdutos #flechaEsquerda {
            left: 0;
            background: url(img/flechaEsquerdaCarrossel.png);
            background-size: cover!important;
            background-position: center!important;
            background-repeat: no-repeat;
            min-width: 24px;
            min-height: 46px;
          }
          .pg .carrosselProdutos .botoesCarrosselProdutos #flechaDireita {
            right:0;
            background: url(img/flechaDireitaCarrossel.png);
            background-size: cover!important;
            background-position: center!important;
            background-repeat: no-repeat;
            min-width: 24px;
            min-height: 46px;
          }
  .pg .paginador {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 30px 0;
    }
      .pg .paginador ul {

      }
        .pg .paginador ul li {
          list-style: none;
          display: inline-block;
          margin: 0 5px;
        }
          .pg .paginador ul li a {
            color: #353535;
            text-decoration: none;
            padding: 5px 11px;
            border: 1px solid transparent;
          }
          .pg .paginador ul li a:hover {
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
            transition: all linear .4s;
            -webkit-transition: all linear .4s;
            -moz-transition: all linear .4s;
            -o-transition: all linear .4s;
          }
          .pg .paginador ul li:last-child a:hover img{
            filter: brightness(10.1);
          }
          .pg .paginador ul li a.setaEsquerdaPaginador:hover{
            filter: brightness(10.1);
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
            transition: all linear .4s;
            -webkit-transition: all linear .4s;
            -moz-transition: all linear .4s;
            -o-transition: all linear .4s;
          }
          .pg .paginador ul li a.ativo {
            color: #fff;
            text-decoration: none;
            background: #4475b3;
            padding: 5px 11px;
            border: 1px solid #4475b3;
          }
            .pg .paginador ul li a img.setaEsquerdaPaginador {
              display: none;
            }
            .pg .paginador ul li a img.setaDireitaPaginador {

            }
        .pg .sidebar {

    }
      .pg .sidebar .areaNewsletter {
      
      }
        .pg .sidebar .areaNewsletter span{
          display: inline-block;
          font-size: 40px;
          color: #4475b3;
          vertical-align: unset;
        }
          .pg .sidebar .areaNewsletter span i{
      
          } 
        .pg .sidebar .areaNewsletter p{
          display: inline-block;
          width: 100%;
          max-width: 228px;
          font-size: 16px;
          padding-left: 10px;
          color: #585858;
          margin-bottom: 22px;
        }
          .pg .sidebar .areaNewsletter p strong{
      
          }
        .pg .sidebar .areaNewsletter input[type="text"]{
          width: 100%;
          max-width: 200px;
          min-height: 40px;
          outline: none;
          border: 1px solid #4475b3;
          padding: 10px;
          color: #b5b5b5;
          margin-right: 3px;
        }
        .pg .sidebar .areaNewsletter input[type="submit"]{
          background: #4475b3;
          border: 1px solid #4475b3;
          color: #fff;
          text-transform: uppercase;
          padding: 11px 5px;
          font-size: 13px;
          margin-top: 10px;
        }
        .pg .sidebar .areaNewsletter input::-webkit-input-placeholder  { color: #b5b5b5; }
        .pg .sidebar .areaNewsletter input:-moz-placeholder { color:#b5b5b5; }

    .pg .tags {

    } 
      .pg .tags span {
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg .tags a {
        text-decoration: none;
      }
      .pg .tags a h3 {
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        min-width: 80px;
        border: 1px solid #4475b3;
        padding: 4px;
        text-align: center;
        color: #585858;
        margin: 5px;
        border-radius: 0;
        text-decoration: none;
        font-weight: 600;
      }
    .pg .areaPesquisa {
      padding-top: 86px;
      text-align: left;
    }
      .pg .areaPesquisa input[type="text"] {
        width: 100%;
        max-width: 238px;
        min-height: 40px;
        outline: none;
        border: 1px solid #4475b3;
        padding: 10px;
        color: #b5b5b5;
        margin-bottom: 10px;
      }
      .pg .areaPesquisa input[type="text"]::before {
        content: '';
      }
      .pg .areaPesquisa input[type="submit"] {
        background: url(img/lupaPesquisa.png);
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        background-color: #4475b3;
        border: 1px solid #4475b3;
        color: #fff;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        max-width: 50px;
        min-height: 40px;
        vertical-align: top;
        margin-left: 5px;
      }
      .pg .areaPesquisa input[type="submit"]:hover {
        background-color: #2d5587;
        transition: background .4s;
        -webkit-transition:background .4s;
        -moz-transition:background .4s;
        -o-transition:background .4s;
      }
    .pg .areaProdutos {

    }
      .pg .areaProdutos .carrosselProdutos{
        position: relative;
      }
    
      .pg .areaProdutos h3 {
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg .areaProdutos .itemCarrosselSidebar {
        position: relative;
        padding-top: 35px;
      }
        .pg .areaProdutos .itemCarrosselSidebar span:first-child {
          border: 1px solid #4475b3;
          padding: 3px;
          z-index: 9;
          color: #4475b3;
          font-family: 'Lato',sans-serif;
          display: block;
          width: 100%;
          text-align: center;
          max-width: 50px;
          position: absolute;
          right: 5px;
          max-height: 27px;
        }
          .pg .areaProdutos .itemCarrosselSidebar a{
            text-decoration: none;
          }
            .pg .areaProdutos .itemCarrosselSidebar a figure{
              width: 100%;
              max-width: 285px;
              margin: 0 auto;
            }
              .pg .areaProdutos .itemCarrosselSidebar a figure img{
                width: 90%;
                height: auto;
                margin: 0 auto;
              }
            .pg .areaProdutos .itemCarrosselSidebar a .nomeDoProduto{
              font-size: 16px;
              color: #000;
              font-family: 'Lato', sans-serif;
              font-weight: 600;
              text-decoration: none;
              text-transform: none;
              text-align: center;
              border: none;
              padding-top: 20px;
              padding-bottom: 0;
              margin: 0;
            }
        .pg .areaProdutos .itemCarrosselSidebar hr{
          width: 100%;
          max-width: 260px;
          margin: 12px auto 5px;
          border-top: 1px solid #c5c5c5;
        }
        .pg .areaProdutos .itemCarrosselSidebar .classificacaoProduto{
          border: none;
          display: block;
          text-align: center;
          color: #4475b3;
          max-width: initial;
          margin: 0 auto;
        }
        .pg .areaProdutos .itemCarrosselSidebar .precoSemDesconto{
          display: block;
          text-align: center;
          padding: 10px 0 3px;
          text-decoration: line-through;
          color: #b0b0b0;
        }
        .pg .areaProdutos .itemCarrosselSidebar .precoAtual{
          color: #000;
          text-align: center;
        } 
        .pg .areaProdutos .itemCarrosselSidebar .precoParcelado{
          display: block;
          text-align: center;
          color: #8a8888;
        }

/*PÁGINA INICIAL*/
  .pg-inicial {
    margin-top: 30px;
  }
    .pg-inicial .carrosselDestaque{ 
      width: 100%;
      max-width: 715px;
      height: auto;
      position: relative;
      margin: 20px auto;
      min-height: 461px;
    }
      .pg-inicial .carrosselDestaque a  { 
        text-decoration: none;
        color: #fff;
      }
      .pg-inicial .carrosselDestaque a .item{ 
        background-size: cover!important;
        background-position: center!important;
        min-height: 461px;
        position: relative;
        width: 100%;
        z-index: 2;
        margin: 0 auto;
      }
      .pg-inicial .carrosselDestaque a .item::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 8%, rgba(0, 0, 0, 0.45) 64%, rgba(0, 0, 0, 0.1) 85%, transparent 100%);;
        z-index: 2;
      }
        .pg-inicial .carrosselDestaque a .item .textoPostPrincipal {
          position: absolute;
          bottom: 40px;
          left: 40px;
          z-index: 9;
        }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal img{ 
		    display: none;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h3 {
            text-transform: uppercase;
            font-size: 14px;
            display: inline;
            width: 100%;
            min-width: 80px;
            border: 1px solid #4475b3;
            padding: 3px 9px;
            text-align: center;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h2 {
            font-size: 25px;
            font-family: 'Lato', sans-serif;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal strong {
            font-weight: normal;
          }
    .pg-inicial .postsMaisLidos {
      margin: 0 auto;
      width: 100%;
      max-width: 418px;
      padding-left: 10px;
    }
      .pg-inicial .postsMaisLidos ul {
      }
        .pg-inicial .postsMaisLidos ul li {
          list-style: none;
          margin: 21px auto;
        }
          .pg-inicial .postsMaisLidos ul li a{
            text-decoration: none;
          }
            .pg-inicial .postsMaisLidos ul li a figure {
              width: 100%;
              max-width: 116px;
              display: inline-block;
              vertical-align: top;
              background-size: cover!important;
              background-position: center!important;
              min-height: 139px;
            }
              .pg-inicial .postsMaisLidos ul li a figure img {
                width: 100%;
                height: auto;
                visibility: hidden;
              }
            .pg-inicial .postsMaisLidos ul li a .informacoesPost {
              display: inline-block;
              padding: 0 0 0 20px;
            }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h3 {
                margin: 0;
               
                font-size: 13px;
                text-transform: uppercase;
                color: #585858;
                border: 1px solid #4475b3;
                padding: 5px;
                text-align: center;
                display: inline-block;
              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h2{
                width: 100%;
                font-size: 20px;
                color: #000;
                max-width: 250px;
              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost span{
                color: #4475b3;
              }
    .pg-inicial .carrosselProdutos {
      position: relative;
    }
        .pg-inicial .carrosselProdutos .carrosselProdutosDestaque {
          padding: 25px 0 120px;
        } 
          .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque{
            margin:0 auto;
            list-style: none;
            width: 100%;
            max-width: 265px;
            text-align: center;
            position: relative;
          }
            .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a{
              text-decoration: none;
            }   
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .porcentagemDesconto{
                border: 1px solid #4475b3;
                padding: 3px;
                z-index: 9;
                color: #4475b3;
                font-family: 'Lato',sans-serif;
                display: block;
                width: 100%;
                text-align: center;
                max-width: 50px;
                position: absolute;
                right: 0;
                max-height: 27px;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a figure{
                width: 100%;
                max-width: 200px;
                margin: 0 auto;
              }
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a figure img{
                  width: 100%;
                  height: auto;
                  max-height: 200px;
                }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a h3{
                font-size: 16px;
                color: #000;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
              } 
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a hr{
                width: 100%;
                max-width: 260px;
                margin: 12px auto 5px;
                border-top: 1px solid #c5c5c5;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto{
                display: block;
                text-align: center;
                color: #4475b3;
              }
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto i:nth-child(4),
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .classificacaoProduto i:nth-child(5){
                  font-weight: 100;
                }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .precoSemDesconto{
                display: block;
                text-align: center;
                padding: 10px 0 3px;
                text-decoration: line-through;
                color: #b0b0b0;
              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a h4{
                color: #000;
                font-family: 'Lato', sans-serif;
                text-align: center;
              } 
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque .itemProdutoDestaque a .precoParcelado{
                display: block;
                text-align: center;
                color: #cfcfcf;
              }
      
    .pg-inicial .sessaoPosts {

    }
      .pg-inicial .sessaoPosts .postPaginaInicial {
        padding: 24px 0;
      } 

        .pg-inicial .sessaoPosts .postPaginaInicial figure{
          width: 27.5%;
          height: auto;
          min-height: 229px;
          display: inline-block;
          vertical-align: top;
          background-repeat: no-repeat!important;
          background-size: cover!important;
          background-position: center!important;
          border-bottom: 8px solid transparent;
        } 
        .pg-inicial .sessaoPosts .postPaginaInicial:hover figure {
          border-bottom: 8px solid #4475b3;
          transition: border .5s;
          -webkit-transition: border .5s;
          -moz-transition: border .5s;
          -o-transition: border .5s;
        }
          .pg-inicial .sessaoPosts .postPaginaInicial figure img{
            width: 100%;
            height: auto;
            visibility: hidden;
          }
        .pg-inicial .sessaoPosts .postPaginaInicial article{
            display: inline-block;
            padding: 0 0 0 56px;
            width: 71.5%;
        }
          .pg-inicial .sessaoPosts .postPaginaInicial article h3{
            text-transform: uppercase;
            font-size: 13px;
            display: inline-block;  
            border: 1px solid #4475b3;
            padding: 5px;
            text-align: center;
            color: #4475b3;
            margin: 0;
            min-width: 100px;
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article a {
            text-decoration: none;
          }
            .pg-inicial .sessaoPosts .postPaginaInicial article a h2{
              font-size: 21px;
              font-family: 'Lato', sans-serif;
              color: #000;
              font-weight: 600;
              min-height: 60px;
            }
          .pg-inicial .sessaoPosts .postPaginaInicial article .dataDoPost{
            color: #4475b3;
            margin-top: 15px;
            display: block;
            width: 100%;
            max-width: 150px;
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article p{
            width: 100%;
            max-width: 515px;
            margin: 10px 0;
            color: #585858;
            font-size: 16px;
          }

    .pg-inicial .sessaoBannerPropaganda {
      padding: 78px 0;
    }   
      .pg-inicial .sessaoBannerPropaganda a{

      } 
        .pg-inicial .sessaoBannerPropaganda a figure{
          width: 100%
        }  
          .pg-inicial .sessaoBannerPropaganda a figure img{
            width: 100%;
            height: auto;
          } 
    
/* PÁGINA DE POST */
  .pg-post {

  }
    .pg-post .bannerPrincipalPost{
      margin-top: 74px;
      padding: 0 10px;
    }
      .pg-post .bannerPrincipalPost figure{
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        width: 100%;
        max-width: 1139px;
        height: auto;
        max-height: 324px;
      }
        .pg-post .bannerPrincipalPost figure img{
          width: 100%;
          height: auto;
          visibility: hidden;
        }
    .pg-post .informacoesPost {
      padding: 74px 10px 51px;
      width: 100%;
      max-width: 720px;
    }
      .pg-post .informacoesPost .tituloPost{
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 23px; 
      }
      .pg-post .informacoesPost .categoriaPost{
        margin: 0;
        width: 100%;
        min-width: 80px;
        font-size: 13px;
        text-transform: uppercase;
        color: #1a1a1a;
        border: 1px solid #4475b3;
        padding: 3px 10px;
        text-align: center;
        display: inline;
        text-decoration: none;
        font-weight: 600;
      }
      .pg-post .informacoesPost .dataDoPost{
        color: #4475b3;
        font-weight: 600;
        padding-left: 15px;
      }
    .pg-post .conteudoDoPost { 
      padding: 0 10px;
      max-width: 700px;
    }
      .pg-post .conteudoDoPost p{ 
        font-size: 17px;
        line-height: 28px;
        color: #585858;
        padding: 5px 0;

      }
      .pg-post .conteudoDoPost img{ 
        width: 100%;
        height: auto;
        padding: 20px 0;
      }
      .pg-post .conteudoDoPost h2{ 
        font-weight: bold;
        font-size: 23px;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
      }
    .pg-post .disqus {
      width: 100%;
      max-width: 691px;
      padding-left: 10px;
    }
    .pg-post .postsRelacionados {
      padding-left: 5px;
    }
      .pg-post .postsRelacionados .leiaTambem{
        padding-top: 100px;
        display: block;
        text-transform: uppercase;
        color: #585858;
        font-size: 21px;
        border-bottom: 5px solid #e7e7e7;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      .pg-post .postsRelacionados ul{
      
      }
        .pg-post .postsRelacionados ul li {
          list-style: none;
          padding-bottom: 35px;
        }
        .pg-post .postsRelacionados ul li a {
          text-decoration: none;
        }
          .pg-post .postsRelacionados ul li .categoriaPostRelacionado{
            text-transform: uppercase;
            font-size: 12px;
            display: inline-block;
            min-width: 80px;
            border: 1px solid #4475b3;
            padding: 4px;
            text-align: center;
            color: #585858;
            margin: 5px;
            border-radius: 0;
            text-decoration: none;
            font-weight: 600;
          }
          .pg-post .postsRelacionados ul li a .tituloPostRelacionado{
            display: block;
            width: 100%;
            max-width: 350px;
            font-size: 21px;
            font-weight: 700;
            padding-left: 5px;
            color: #000;
          }
          .pg-post .postsRelacionados ul li .dataPostRelacionado{
            color: #4475b3;
            padding-left: 5px;
          } 
    .pg-post .sidebarSingle {
      padding-top: 72px;
    }

/* PÁGINA DE BUSCA */ 
  .pg-busca {
    width: 100%;
    height: auto;
  }
    .pg-busca .resultadoBusca {
      
    }
      .pg-busca .resultadoBusca p{
        font-weight: bold;
        color: #000;
        font-size: 19px;
        margin: 85px 0; 
      }
    .pg-busca .sessaoPostsEncontrados {
      width: 100%;
    }
      .pg-busca .sessaoPostsEncontrados .postEncontrado{
        padding: 0 0 25px;
      }
        .pg-busca .sessaoPostsEncontrados .postEncontrado a{
          text-decoration: none;
        }
          .pg-busca .sessaoPostsEncontrados .postEncontrado a figure{
            width: 100%;
            max-width: 230px;
            height: auto;
            max-height: 250px;
            display: inline-block;
            vertical-align: top;
            background-repeat: no-repeat!important;
            background-size: cover!important;
            background-position: center!important;
            border-bottom: 8px solid transparent;
          }
          .pg-busca .sessaoPostsEncontrados .postEncontrado:hover figure {
            border-bottom: 8px solid #4475b3;
            transition: border .5s;
            -webkit-transition: border .5s;
            -moz-transition: border .5s;
            -o-transition: border .5s;
          }
            .pg-busca .sessaoPostsEncontrados .postEncontrado a figure img{
              visibility: hidden;
              width: 100%;
              height: auto;
            }
        .pg-busca .sessaoPostsEncontrados .postEncontrado article{
          display: inline-block;
          padding: 0 0 0 35px;
          width: 100%;
          max-width: 500px;
        }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article a{
            text-decoration: none;
          }
            .pg-busca .sessaoPostsEncontrados .postEncontrado article a h3{
              text-transform: uppercase;
              font-size: 13px;
              display: inline-block;
              border: 1px solid #4475b3;
              padding: 5px;
              text-align: center;
              color: #585858; 
              margin: 0;
              min-width: 100px;  
              border-radius: 3px;         
            } 
            .pg-busca .sessaoPostsEncontrados .postEncontrado article a h2{
              font-size: 21px;
              font-family: 'Lato', sans-serif;
              color: #000;
              font-weight: 600;
              line-height: 27px;
              min-height: 60px;
            }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article .dataDoPost{
            color: #4475b3;
            display: block;
            width: 100%;
            max-width: 150px;
          }
          .pg-busca .sessaoPostsEncontrados .postEncontrado article p{
            width: 100%;
            max-width: 515px;
            padding-top: 10px;
            margin: 10px auto;
            color: #585858;
            font-size: 16px;
          }

/* PÁGINA DE CONTATO */
  .pg-contato {
    
  }
    .pg-contato .formularioContato {
      margin-top: 40px;
    }
      .pg-contato .formularioContato label{
        color: #3f3f3f;
        font-size: 15px;
        margin-bottom: 8px;
        display: inline-block;
        font-weight: bold;
      }
      .pg-contato .formularioContato input{
        border: 1px solid #e3e3e3;
        color: #8d8d8d;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        min-height: 50px;
        max-width: 95%;
        outline: none;

      }
      .pg-contato .formularioContato input[type="text"]{
        padding: 10px;
      }
      .pg-contato .formularioContato input[type="submit"]{
        border: none;
        background: #4d80bc;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px 0;
        border-radius: 5px;
      }
      .pg-contato .formularioContato input[type="submit"]:hover {
        color: #fff;
        background: #1e3e65;
        transition: background .4s;
        -webkit-transition:  background:  .4s;
        -moz-transition:  background:  .4s;
        -o-transition:  background:  .4s;
      }
      .pg-contato .formularioContato textarea{
        display: block;
        width: 97.5%;
        border: 1px solid #e3e3e3;
        color: #8d8d8d;
        -webkit-appearance: none;
        max-height: 170px;
        max-width: 1160px;
        padding:10px;
      }
    .pg-contato .areaEndereco{
        width: 100%;
    }
      .pg-contato .areaEndereco .infoContato{
        max-width: 100%;

      }
        .pg-contato .areaEndereco .infoContato .email{
          width: 100%;
          min-height: 350px;
          background: #2585b3;
          text-align: left;
        }
        .pg-contato .areaEndereco .infoContato .email i {
          display: block;
          color: #fff;
          position: absolute;
          top: 1px;
          left: -18px;
          font-size: 25px;
        }
          .pg-contato .areaEndereco .infoContato .textos {
            position: absolute;
            width: 100%;
            max-width: 250px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 15px;
          }
            .pg-contato .areaEndereco .infoContato .email span{
              color: #ffffff;
              font-size: 17px;
              font-weight: 700
            }
            .pg-contato .areaEndereco .infoContato .email p{
              color: #fff;
              font-size: 15px;
            }
        .pg-contato .areaEndereco .infoContato .horarios{
          width: 100%;
          min-height: 350px;
          background: #389ccc;
          text-align: left;
        }
          .pg-contato .areaEndereco .infoContato .horarios i {
            display: block;
            color: #fff;
            position: absolute;
            top: 3px;
            left: -18px;
            font-size: 25px;
          }
          .pg-contato .areaEndereco .infoContato .horarios span{
            color: #ffffff;
            font-size: 17px;
            font-weight: 700;
          }
          .pg-contato .areaEndereco .infoContato .horarios p{
            color: #fff;
            font-size: 15px;
          }
        .pg-contato .areaEndereco .infoContato .telefones{
          width: 100%;
          background: #5ab3e6;
          min-height: 350px;
          text-align: left;
        }
          .pg-contato .areaEndereco .infoContato .telefones i {
            display: block;
            color: #fff;
            position: absolute;
            top: 5px;
            left: -18px;
            font-size: 25px;
          }
          .pg-contato .areaEndereco .infoContato .telefones i.localizacao {
            top: 63px;
          }
          .pg-contato .areaEndereco .infoContato .telefones span{
            color: #ffffff;
            font-size: 17px;
            font-weight: 700;
          }
          .pg-contato .areaEndereco .infoContato .telefones p{
            color: #fff;
            font-size: 15px;
          }
          .pg-contato .areaEndereco .infoContato .telefones span.local{
      
          }
      .pg-contato .areaEndereco .maps{
        width: 100%;
      }
        .pg-contato .areaEndereco .maps iframe{
          width: 100%; 
        }
/* PÁGINA DE NEWSLETTER */
  .pg-newsletter {
    margin-bottom: 100px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
  }
    .pg-newsletter figure {
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      position: relative;
    }
      .pg-newsletter figure img {
        width: 100%;
        height: auto;
      }
  .pg-newsletter article {
    background: #0f76b7;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
    .pg-newsletter article .textosArticle {
      width: 100%;
      max-width: 608px;
      margin: 0 auto;
    }
      .pg-newsletter article .textosArticle p{
        color: white;
        text-align: left;
        font-size: 21px;
        width: 100%;
        max-width: 355px;
        position: relative;
        padding-left: 80px;
      }
        .pg-newsletter article .textosArticle p i{
          font-size: 60px;
          position: absolute;
          left: 0;
          top: 0px;
          display: block;
        }
      .pg-newsletter article .textosArticle input{
        border: 1px solid white;
        background: transparent;
        color: #b1b1b1;
        width: 100%;
        max-width: 165px;
        height: 42px;
        text-indent: 20px;
        margin-right: 5px;
      }
        /* Chrome, Safari, Opera */
        .pg-newsletter article .textosArticle input::-webkit-input-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 18- */
        .pg-newsletter article .textosArticle input:-moz-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 19+ */
        .pg-newsletter article .textosArticle input::-moz-placeholder {
          color: #b1b1b1;
        }

        /* IE10+ */
        .pg-newsletter article .textosArticle input:-ms-input-placeholder {
          color: #b1b1b1;
        }
     
      .pg-newsletter article .textosArticle .email {
        width: 100%;
        max-width: 270px;
      }
      .pg-newsletter article .textosArticle input[type="submit"] {
        background: white;
        border: none;
        text-indent: 0px;
        color: #0f76b7;
        font-weight: bold;
        width: 100%;
        max-width: 134px;
      }
    .pg-newsletter figure .fecharModalNewsletter {
      display: block;
      width: 100%;
      max-width: 30px;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      z-index: 11;
    }
    .pg-newsletter figure .fecharModalNewsletter:hover{
      color: #c52929;
      transition: color .5s;
      -webkit-transition:color .5s;
      -moz-transition:color .5s;
      -o-transition:color .5s;
      cursor: pointer;
    }
      .pg-newsletter figure .fecharModalNewsletter i{
      
      }
 
/*QUEM SOMOS*/
   .pg-quemSomos{
    }
    .containerConteudo{
        width:80%;
        margin:0 auto;
    }
  .pg-quemSomos .historiaQuemSomos{
      background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/fundoHistoria.png");
        min-height: 1025px;
      background-size: cover!important;
      background-position: center!important;
      padding-top: 50px;
      margin-bottom: 50px;
      position: relative;
      z-index: 3;
    }
      .pg-quemSomos .historiaQuemSomos .areaTextoQuemSomos{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 516px;
        left: 12.3%;
        line-height: 30px;
      }
        .pg-quemSomos .historiaQuemSomos .areaTextoQuemSomos .textoQuemSomos {

        }
          .pg-quemSomos .historiaQuemSomos .areaTextoQuemSomos .textoQuemSomos p{
            
          }
        .pg-quemSomos .historiaQuemSomos h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 20px;
          position: relative;
          display: inline-block;
        }
          .pg-quemSomos .historiaQuemSomos h4:before{
            content: '';
            display: block;
            height: 48px;
            width: 48px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/chapeu.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
          }
    .nossaPaixao{
      background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/fundoNossaPaixao.jpg");
            min-height: 1010px;
            background-size: cover!important;
            background-position: center!important;
            position: relative;
            margin-top: -600px;

    }
      .nossaPaixao .textoNossaPainxao{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 532px;
        line-height: 30px;
        font-size: 15px;
        text-align: center;
      }
        .nossaPaixao .textoNossaPainxao h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 40px;
          position: relative;
          display: inline-block;
          color: #fff;
        }
          .nossaPaixao .textoNossaPainxao h4:before{
            content: '';
            display: block;
            height: 43px;
            width: 49px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/coracao.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 60px;
          }
          .nossaPaixao .textoNossaPainxao p{
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-weight: 100;
          }
  .areaNossaLoja{
    margin-top: 140px;
  }
    .areaNossaLoja .areaTitulo{
      max-width: 492px;
      margin: 0 auto;
      text-align: center;
    } 
      .areaNossaLoja .areaTitulo h4{
        text-transform: uppercase;
        font-size: 35px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
      } 
        .areaNossaLoja .areaTitulo h4:before{
          content: '';
          display: block;
          height: 48px;
          width: 33px;
          background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/pinNossaLoja.png");
          position: absolute;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 50px;
        }
      .areaNossaLoja .areaTitulo p{
        text-align: left;
      } 
    .areaNossaLoja .areaFotos{
      margin-top: 100px;
    }
          .areaNossaLoja .areaFotos img{
            display: block;
            margin: 0 auto;
            width: 100%;
          }
      section.mapa iframe{
            margin-top: 100px;
            border: 0;
            width: 100%;
            height: 260px;
            border-top: solid #ccc 1px;
      }
    .areaNossosNumeros{
      
      text-align: center;
      background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/nossosNUmeros.jpg");
      min-height: 650px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 30%;
      background-size: cover;
      position: relative;
      z-index: 2;
    }
      .areaNossosNumeros .textoNossaPainxao{
            padding-top: 175px;
      }
        .areaNossosNumeros .textoNossaPainxao h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 20px;
          position: relative;
          display: inline-block;
        }
          .areaNossosNumeros .textoNossaPainxao h4:before{
            content: '';
            display: block;
            height: 74px;
            width: 39px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/cima.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
          }
      .areaNossosNumeros ul{
        padding: 0;
          margin-top: 60px;
        list-style: none;
      }
        .areaNossosNumeros ul li{
          display: inline-block;
          width: 160px;
          vertical-align: top;
          margin: 0 70px;
        }
          .areaNossosNumeros ul li img{
            display: block;
            margin: 0 auto;
            max-width: 120px;
          }
          .areaNossosNumeros ul li span{
            display: block;
            font-size: 30px;
            font-weight: 500;
            font-style: italic;
            text-transform: uppercase;
            margin-top: 20px;
          }
          .areaNossosNumeros ul li p{
      
          }
    .pg-quemSomos .areaParceiros{
      position: relative;
      margin-top: -35px;
    }
      .pg-quemSomos .caixaTexto{
        display: block;
        min-height: 630px;
      }
      .pg-quemSomos .areaParceiros .textoNossaParceiros{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 516px;
        left: 125px;
        line-height: 30px;
      }
        .pg-quemSomos .areaParceiros h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 20px;
          position: relative;
          display: inline-block;
        }
          .pg-quemSomos .areaParceiros h4:before{
            content: '';
            display: block;
            height: 57px;
            width: 66px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/maosParceiros.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
          }
        .pg-quemSomos .areaParceiros p{

        } 
    .areaParceiros figure{
      width: 100%;
      height:725px;
      background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/parceiros.png");
      background-repeat: no-repeat!important;
      background-position: 40px 185%;
      background-size: cover!important;
    }
      .areaParceiros figure img{
        display: block;
        width: 100%;
        max-width: 675px;
      }
      .areaParceiros figure .carrossel{
        padding-top: 230px;
        padding-left: 40px;
      }
  .pg-quemSomos .areaDepoiemtos{
    max-width: 1200px;
    margin: 60px auto;
  }
      .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos{
        text-align: center;
      }
        .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 20px;
          position: relative;
          display: inline-block;
        } 
          .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos h4:before{
            content: '';
            display: block;
            height: 46px;
            width: 47px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/depoimentos.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
          }
        .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos p{
          text-align: left: ;
        }
        .pg-quemSomos .areaDepoiemtos ul{
          padding: 0;
          margin: 0;
          list-style: none;
          text-align: center;
        }
          .pg-quemSomos .areaDepoiemtos ul li{
            display: inline-block;
            width: 100%;
            max-width: 445px;
            vertical-align: top;
            margin-bottom: 50px;
            margin: 50px auto;
              margin-left: 90px;
          }
            .pg-quemSomos .areaDepoiemtos ul li figure{
        
            }
              .pg-quemSomos .areaDepoiemtos ul li figure img{
                border-radius: 100%;
                  display: block;
                  max-width: 110px;
                  margin: 0 auto;
              }
              
              .pg-quemSomos .areaDepoiemtos ul li .texto{
                text-align: left;
                color: #353535;
                max-width: 242px;
                padding-left: 17px;
                padding-top: 15px;
              }
                .pg-quemSomos .areaDepoiemtos ul li .texto p{
                  color: #353535;
                }
                .pg-quemSomos .areaDepoiemtos ul li .texto h2{
                  color: #4475b3;
                  font-size: 15px;
                  margin: 0;
                  margin-bottom: 10px;

                }
                .pg-quemSomos .areaDepoiemtos ul li .texto span{
                  color: #353535;
                    font-size: 12px;
                }
      .pg-quemSomos .areaOqueestaoFalando{
        text-align: center;
        padding-top: 130px;
        margin-bottom:100px;
      }
        .pg-quemSomos .areaOqueestaoFalando .textoOqueEstaoFalando h4{
          text-transform: uppercase;
          font-size: 35px;
          margin-bottom: 50px;
          position: relative;
          display: inline-block;
        } 
          .pg-quemSomos .areaOqueestaoFalando .textoOqueEstaoFalando h4:before{
            content: '';
            display: block;
            height: 65px;
            width: 65px;
            background: url("http://recursos.Crisecia-hlog.ecommercestore.com.br/i/imgSite/falando.png");
            position: absolute;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
          }
        .areaOqueestaoFalando .conteudo iframe{
          width: 100%;
          padding: 0 10px;
          max-width: 961px;
          height: 542px;
        }

/*EXTRAS*/
  .containerFull {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
  }
  .lenteNewsletter {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-color: #000000c2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .travarScroll {
    overflow:hidden;
  }
  header .navbar .navbar-header .navbar-nav li a {
    background-color: #eee0;
  }
  div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: #32a24f;
    min-height: 50px;
    text-align: center;
    border-radius: 4px;
    padding: 12px 0;
    color: #ffffffc7;
  }
  
/*@MEDIA QUERY*/
  @media(max-width: 1367px){
  }
  @media(max-width: 1200px){
    .containerFull{
      width: 95%;
    }
    .pg-inicial .sidebar .areaNewsletter p {
      max-width: 198px;
      text-align: left;
    }
    .pg-inicial .sidebar .areaNewsletter {
      text-align: center;
    }
    .pg-inicial .sidebar .areaNewsletter input[type="text"] {
      margin: 10px 0;
    }
  }
  @media (max-width: 1050px){
    
  
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      padding: 0 0 0 12px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      max-width: 380px;
    }
    header .navbar .navbar-header .navbar-nav {
      margin: 0 auto;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .postsMaisLidos{
      display: none;
    }
    .pg-contato .contato {
      padding-left: 50px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2{
      font-size: 34px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article {
      max-width: 350px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado a figure {
      max-width: 186px;
    }
    .pg-inicial .carrosselDestaque{
      max-width: 100%;
    }
    .pg-inicial .sidebar .areaNewsletter{
      text-align: center;
    }
    .pg-inicial .sidebar .areaNewsletter p{
      text-align: left;
    }
    .pg-inicial .tags,.pg-inicial .areaPesquisa{
      text-align: center;
    }
    .pg-inicial .sessaoBannerPropaganda{
      display: none;
    }
    .topo .container {
      width: 100%;
    }
    header .navbar .navbar-header .navbar-nav li {
      padding: 26px 0 0 0px;
    }
    .pg .carrosselProdutos .botoesCarrosselProdutos {
      display: none;
    }
    .pg .areaPesquisa {
      text-align:center;
    }
    .pg-contato .areaEndereco .infoContato .email {
      text-align: left ;
    }
    .pg-contato .areaEndereco .infoContato .horarios {
      text-align: left ;
    }
    .pg-contato .formularioContato textarea {
      max-width: 95%;
    }
  }
  @media(max-width: 768px){
    .pg-busca .sessaoPostsEncontrados .postEncontrado{
      text-align: center;
    }
    header .navbar #botao-menu {
      display: block;
      background: transparent;
      border: 1px solid #fff;
      position: absolute;
      right: 16px;
      top: -87px;
    }
    .topo .navbar button span {
      background-color: #fff;
    }
    
    .pg .carrosselProdutos .botoesCarrosselProdutos {
      display: none;
    }
    .pg-inicial .carrosselDestaque a .item .textoPostPrincipal {
      padding:0;
    }
    .pg-contato .contato .endereco {
      padding-top: 30px;
    }
    .pg-contato .contato {
      width: 100%;
      max-width: 415px;
      margin: 0 auto;
      padding: 12px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2 {
      font-size: 32px;
    }
    .pg-newsletter article .textosArticle p {
      margin: 0 auto;
    }
    .pg-newsletter article .textosArticle input, .pg-newsletter article .textosArticle .email {
      display: block;
      margin: 5px auto 0;
      max-width: 440px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial figure {
      width: 100%;
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0 5px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article h3 {
      text-align: center;
      margin-top: 15px;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article a h2 {
      text-align:center;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article .dataDoPost {
      display: block;
      width: 100%;
      max-width: 150px;
      text-align: center;
      margin: 15px auto 0;
    }
    
    .rodape .menuRodape span {
      margin: 0 auto;
      text-align: center;
    }  
    .rodape .menuRodape ul li {
      max-width: 100%;
      margin: 10px auto 0;
      text-align: center;
    }
    .rodape .categoriasRodape span {
      margin-top: 10px;
      text-align: center;
    }
    .rodape .categoriasRodape ul li {
      text-align: center;
    }
    .rodape .redesSociais span {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .rodape .redesSociais .divRedesSociais {
      text-align: center;
      padding-top: 10px;
    }

    .rodape .paginaFacebook {
      text-align: center;
    }
    .pg-post .postsRelacionados .leiaTambem {
      text-align: center;
    }
    .pg-post .postsRelacionados ul {
        padding: 5px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado a figure {
      width: 100%;
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
    .pg-inicial .sessaoPosts .postPaginaInicial article p {
        text-align: center;
        max-width: 100%;
    }
    .pg-inicial .carrosselDestaque a .item,.pg-inicial .carrosselDestaque{
      min-height: 400px;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article a h3,.pg-busca .resultadoBusca p{
      margin: 20px 0 20px;
      text-align: center;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article .dataDoPost{
      text-align: center;
      max-width: 100%;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article p{
      padding: 10px;
    }
    .rodape .redesSociais .divRedesSociais {
      display: block;
      margin: 0 auto;
    }
    .pg-post .conteudoDoPost {
      margin: 0 auto;
    }
    .pg-post .bannerPrincipalPost {
      padding: 0;
    }
    .pg-busca .sessaoPostsEncontrados .postEncontrado article a h2{
      margin-top: 0;
    }
    .pg-inicial .sidebar .areaNewsletter span {
      display: inline-block;
      font-size: 40px;
      color: #4475b3;
      vertical-align: inherit;
    }
    .pg-inicial .sidebar .areaNewsletter p {
      padding-left: 5px;
    }
    .pg-inicial .sidebar .areaNewsletter {
      max-width: 300px;
      margin: 0 auto;
    }
    .pg-newsletter figure .fecharModalNewsletter {
      top: 20px;
    }
    .rodape .logoRodape {
      text-align: center;
    }
    .navbar-collapse.in {
      overflow-y: initial;
    }
    header .navbar .navbar-header .navbar-nav li {
      padding: 10px 0;
      display: block;
      text-align: left;
      float: initial;
    }
    header .navbar .navbar-header .navbar-nav {
      margin: 0 auto;
    }
    header .navbar {
      margin-bottom: 0;
      min-height: 0;
    }
    header a img {
      display: block;
      margin: 0 auto;
    }
    .rodape .menuRodape {
      padding-left:0;
    }
    .pg .sidebar .areaNewsletter {
      text-align: center;  
    }
    .pg .sidebar .areaNewsletter p {
      display: block;
      margin: 0 auto 10px;
    }
    .pg-post .disqus {
      padding: 0 15px;
      margin: 0 auto;
    }
    .pg-quemSomos .historiaQuemSomos .areaTextoQuemSomos {
      left: 0;
      padding: 0 20px;
    }
    .pg-quemSomos .areaDepoiemtos ul li {
      margin-left: 0;
    }
    .pg-quemSomos .historiaQuemSomos h4 {
      display: block;
      text-align: center;
    }
    .nossaPaixao .textoNossaPainxao p {
      text-align: left;
    }
    .nossaPaixao .textoNossaPainxao h4{
      font-size: 30px;
    }
    .nossaPaixao .textoNossaPainxao h4:before {
      bottom: 45px;
    }
    .areaNossaLoja .areaTitulo p {
      padding: 0 20px;
    }
    .pg-quemSomos .areaParceiros .textoNossaParceiros {
      top: 60%;
      transform: translate(-50%,-50%);
      left: 50%;
      width: 100%;
      max-width: 516px;
    }
    .pg-quemSomos .areaParceiros h4:before {
      bottom: 36px;
    }
    .areaParceiros figure .carrossel {
      padding-top: 0; 
    }
    .pg-quemSomos .areaDepoiemtos ul li .texto {
      padding-left: 0;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      text-align: center;
    }
    .pg-quemSomos .areaParceiros h4 {
      display: block;
      text-align: center;
      font-size: 25px;
    }
    .pg-quemSomos .areaOqueestaoFalando .textoOqueEstaoFalando h4 {
      display: block;
      text-align: center;
      font-size: 25px;
    }
    .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos h4 {
      display: block;
      text-align: center;
      font-size: 25px;
      padding: 0 10px;
    }
    .pg-quemSomos .historiaQuemSomos {
      background-position: 20%!important;
    }
    .pg-quemSomos .caixaTexto {
      min-height: 550px;
    } 
  }

  @media(max-width: 445px){
    .nossaPaixao .textoNossaPainxao {
      left: 0;
      transform: none;
      padding: 0 20px;
    }
    .pg-quemSomos .areaParceiros .textoNossaParceiros{ 
      top: 60%;
      transform: translate(-50%,-50%);
      left: 50%;
      width: 100%;
      max-width: 350px;
      padding: 0 20px;
      
    }
   
    
  }
  @media(max-width: 425px){
    .pg-contato .mensagem h2 {
      padding: 10px;
      font-size: 30px;
    }
    .pg-contato .mensagem p {
      padding: 10px 10px 0;
    }
    .pg-newsletter article .textosArticle {
      padding-left: 8px;
    }
    .pg-quemSomos .historiaQuemSomos h4:before {
      bottom: 79px;
    }
    header a img {
      margin: 0;
      margin-left: 20px;
    }
    header .navbar #botao-menu {
      right: -6px;
    }
    .pg-quemSomos .areaOqueestaoFalando .textoOqueEstaoFalando h4:before {
      bottom: 59px;
    }
    .pg-quemSomos .areaOqueestaoFalando .textoOqueEstaoFalando h4,.pg-quemSomos .historiaQuemSomos h4, .pg-quemSomos .areaDepoiemtos .textoNossaDepoimentos h4, .pg-quemSomos .areaParceiros h4, .areaNossaLoja .areaTitulo h4, .nossaPaixao .textoNossaPainxao h4 {
      font-size: 19px;
    }
    .nossaPaixao .textoNossaPainxao p {
      font-size: 16px;
    }

  }

  @media(max-width: 320px){
  
  }
